body {
    background-color: #fbf0f0;
    font-family:'Times New Roman', Times, serif 
}

h1 {
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

div {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;   
}

svg{
    Background-color: #f5dcdc;
    border: 5px solid orange;
}