
section {
    background: white;
    color: gray;
    padding: 20px;
}

div {

    background: red; 
    display: inline-block;  /*inline block lets you set width and height*/
    width: 100px;
    height:
}

div {

}
