body {
  background-color: #f0dfc2;
  font-family:'Times New Roman', Times, serif 
  
}

h3 {
  font-size: 3rem;
  text-align: center;
}
p {
  font-size: 2rem;
  text-align: center;

}
label {
    text-align: left;
}

figure{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}
svg{
    border:5px solid #ffc762;
    Background-color:#fce8c5;
}
.domain {
    display: none;
  }
.tick line {
  stroke: #C0C0BB;
}
.tick text, .legendCells text {
  fill: #867465;
  font-size: 6pt;
  font-family: sans-serif;

}
.axis-label, .legend-label {
  fill: #38322f;
  font-size: 20pt;
  font-family: sans-serif;
}


